.multi-select-tag {
    all: revert !important;
    font-family: inherit !important;
}
.multi-select-tag .wrapper {
    position: relative;
}
.multi-select-tag .tag-container {
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #ffffff;
}
.multi-select-tag .tag-input {
    padding: 0.25rem;
    flex-grow: 1;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    background-color: #ffffff;
    margin: 0;
    line-height: 1.25rem;
}
.multi-select-tag .dropdown {
    overflow: auto;
    position: absolute;
    z-index: 10;
    padding: 0px;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
    width: 100%;
    max-height: 15rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.multi-select-tag .li {
    padding: 0.5rem;
    cursor: pointer;
    list-style-type: none;
}
.multi-select-tag .li:hover {
    background-color: #E5E7EB;
}
.multi-select-tag .li-arrow {
   background-color: #D1D5DB;
}
.multi-select-tag .tag-item {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    color: #1E40AF;
    background-color: #DBEAFE;
}
.multi-select-tag .cross {
    margin-left: 0.25rem;
    cursor: pointer;
}
.multi-select-tag .hidden {
    display: none;
}